[2020-11-15 18:33] fredericbarthelet opened #1 "Solving definitions issues"
Solving issues listed in https://github.com/serverless/typescript/README.md with solution for discontinued maintenance of json-schema-to-typescript -> https://github.com/bcherny/json-schema-to-typescript/issues/347

[2020-11-17 12:44] Namstel opened #2 "awsProvider.d.ts file has some missing/broken property types"
### Use case description

The awsProvider.d.ts file has some missing/broken property types:
- Sns filterPolicy has a broken type
- Stream is missing optional type property
- AwsFunction layers has missing type { [key: string]: string }

### Proposed solution
I created a pull request (3 weeks ago), but no answer or action has left me wondering.
https://github.com/DefinitelyTyped/DefinitelyTyped/pul

[2020-11-20 19:54] fredericbarthelet commented on #2
Thanks for transfering @medikoo :)

Thank you for reporting your issue @Namstel and sorry for the late reply.
I reviewed your PR over at DefinitlyType repository.

This repository aims to soon replace community maintained definition in https://github.com/DefinitelyTyped/DefinitelyTyped/tree/master/types/serverless with automatically generated TS definition based from serverless/serverless core JSO

[2020-11-22 13:32] fredericbarthelet opened #3 "Service property definition only allows object type"
#  Use case description

Typescript definition generated for `service` property as of version 2.11 of the framework states the following :

[code]

This definition has 3 errors:
- `service.name` property should be typed as `string` - current JSON definition states it should follow a string pattern - see https://github.com/serverless/serverless/blob/master/lib/configSchema.js#L112
- `service.name`

[2020-11-22 14:46] fredericbarthelet opened #4 "Property provider.name defined as const keyword not properly converted"
# Use case description

The current schema generates the following typescript type for `provider.name` property :

[code]

However, the JSON schema configuration for this property states:

[code]

The `const` JSON schema keyword is not currently supported by `json-schema-to-typescript` - introduced in JSON Schema v6

# Proposed solution

As pointed out in the issue, de-sugaring `const` to a single

[2020-11-22 16:00] #4 closed

[2020-11-23 02:09] HarrisonJackson commented on #3
For anyone blocked on this for now:
[code]

[2020-11-24 10:15] Namstel commented on #2
That's great news, thanks for the update @fredericbarthelet :)

[2020-11-24 10:16] #2 closed

[2020-11-24 10:17] fredericbarthelet commented on #3
Update has been merged on serverless/serverless side, waiting for 2.13.0 release to close this issue

[2020-11-24 10:25] fredericbarthelet commented on #1
Switching to quicktype ?
-> https://github.com/quicktype/quicktype
-> https://dev.to/okeeffed/generating-types-from-json-schema-with-quicktype-1fh2

[2020-11-24 14:38] fredericbarthelet opened #6 "Convert plugin.js to plugin.ts to benefit from Typescript types in plugin file"
As stated in the title, the objectif is to move the rather small code base of the plugin responsible for generating the definition to TS.

[2020-11-24 16:30] fredericbarthelet opened #7 "Setup webhook from serverless/serverless to trigger Github Action for release"
# Use case description

At the moment, the Github action responsible for generating the new typescript definitions is manually triggered by a HTTP call to `dispatch_repository` endpoint.

# Proposed solution

Setup webhook call on release of serverless/serverless (in the serverless/serverless repository) to call this repo `dispatch_repository` endpoint

[2020-11-26 19:27] fredericbarthelet opened #8 "Wrong definitions for resources.Resources properties"
# Use case description

As of `v2.13.0`, the TS definitions generated for `resources.Resources` property states:
[code]

This definition lacks the mandatory `Type` property and allows any additional property, as long as they are objects (thus not fitting the requirement for `Type` property - which is a simple string).

# Proposed solution

The issue comes from invalid JSON-schema definition in htt

[2020-11-27 08:57] #8 closed

[2020-11-28 22:14] Vluf commented on #8
Can a new release be made?

[2020-11-29 08:27] fredericbarthelet commented on #8
Hi @Vluf , this repository releases follows serverless/serverless releases. Once the fix released on the framework side with v2.14, this repository will deploy the corresponding fixes types.

[2020-11-29 15:04] Vluf commented on #8
Hi @fredericbarthelet, thanks for the clarification there.
I installed the latest `serverless` and `@serverless/typescript` from master, but still receiving:
`TS2322: Type 'string' is not assignable to type '{ [k: string]: unknown; }'. ` for my `Type` property.

Resources section of my `serverless.ts` config:
[code]

[2020-11-29 15:56] fredericbarthelet commented on #8
Waiting for next serverless release, you can temporarily disable type checking on resources key with a //@ts-ignore marker

[2020-11-30 15:41] fredericbarthelet opened #9 "Single exported `AWS` definition instead of multiple definitions"
# Use case description

With the resolution of #4, the introduction of a custom normalizer changing `const` to single-value `enum` prevented json-schema-to-ts to resolve each JSON-Schema definition as a separate exported type.
The option `declareExternallyReferenced`, described in https://github.com/bcherny/json-schema-to-typescript#options, is still at its current `true` default value, but looks

[2020-11-30 15:43] fredericbarthelet commented on #9
In case somebody experiences this issue, one way to reduce this issue in the mean time is to use subdefinition like this :

[code]

[2020-12-16 05:51] ryansonshine opened #11 "Type for Region does not account for variable interpolation"
Region is defined as a union of string literals which works fine if the region is being implicitly set, however when attempting to use Serverless variables a type error is raised.

The following is valid:
[code]

The following is considered invalid:
[code]

I'll be opening a pull request adding the `string` type to the end of the union type for `region` to address this issue. The tradeoff being we

[2020-12-16 08:45] #3 closed

[2020-12-16 08:51] fredericbarthelet commented on #11
Hi @ryansonshine, thanks for reporting this issue.

Your solution is fine with me. This should be done in `serverless/typescript` and not in `serverless/serverless` since the framework will actually resolve `"${opt:region, 'us-east-1'}"` before proceeding with JSON-schema validation.

The definitions of this repository are programmatically generated from JSON-schema definitions contained in `serve

[2020-12-16 08:53] fredericbarthelet commented on #9
#10 managed to export all definitions referenced in JSON schema. But this does not include CFN resource, which is not defined as a `$ref`. First experimentations with quicktype - #1 - shows that all definitions are much more broken down. Will check again once PR is merged and new definition is released for this issue.

[2020-12-16 11:33] ryansonshine commented on #11
Sounds good to me, subscribing to #1 to track progress. I'll implement the converter to cover this bug after the switch is made.

Thanks!

[2020-12-20 12:04] fredericbarthelet commented on #1
Issue on `custom` property not accepting additional properties : https://github.com/quicktype/quicktype/issues/1615

[2020-12-30 13:01] waynerobinson opened #14 "lambdaHashingVersion in aws-nodejs-typescript template not declared (v2.17.0)"
From a fresh installation of the `aws-nodejs-typescript` template, the `serverless.ts` file refers to `lambdaHashingVersion` which doesn't appear to be declared in the `AWS` type from `@serverless/typescript`.

Extract from `serverless.ts`

[code]

Output from `sls package`:

[code]

[2020-12-30 13:13] medikoo commented on #14
@fredericbarthelet We've updated all templates with a property that won't trigger deprecation logs, and we've also updated TS related template, but it appears that TS definitions are not yet updated with support for new configuration property.

Related PR's:
- https://github.com/serverless/serverless/pull/8661
- https://github.com/serverless/serverless/pull/8679

[2020-12-31 16:20] 0v3rst33r opened #15 "Current aws-nodejs-typescript template's webpack.config.js not working correctly"
# Bug Report

## Description

1. What did you do?
Use the latest version of the `aws-nodejs-typescript` template
1. What happened?
When I package the project nothing breaks on local system, but on a system that compiles the project from scratch it gives legit compile error (type error in a specific file).
1. What should've happened?
Should have given a compile error
1. What's the content of your `

[2020-12-31 18:37] khaledosman commented on #15
I believe this is a type-checking error, the webpack config has `transpileOnly` option set to true for `ts-loader`, which makes it skip type-checking
[code]

The idea was to use [fork-ts-checker-webpack-plugin](https://github.com/TypeStrong/fork-ts-checker-webpack-plugin) instead which runs type-checking on a different process which speeds up webpack compilation.

[2021-01-01 05:34] parimalyeole1 commented on #15
@khaledosman,

Thanks for quick reply 🙏 .

 `plugins: [new ForkTsCheckerWebpackPlugin()],`  this simple config work fine with ts-loader.
 Link:  https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/blob/master/examples/ts-loader/webpack.config.js

 eslint setup alslo works fine with this configuration
[code]

With this type-checking issue solve for this 2 commands
- sls deploy
- sls packag

[2021-01-03 17:34] fredericbarthelet commented on #14
@waynerobinson @medikoo latest release `v2.17.0` of `serverless/typescript` now supports `provider.lambdaHashingVersion` property - see https://github.com/serverless/typescript/commit/4ef46f5e9c6159fd6598533a2a5f3030fe9dd794

Updating to the latest version of this package should solve this issue. I'm closing it in the meantime, feel free to re-open in case you face additional issues.

[2021-01-03 17:35] #14 closed

[2021-01-07 20:04] fredericbarthelet opened #16 "Incompatible ajv peer dependencies eslint <> serverless"
From serverless@2.18.0, the updated version of ajv from v6 to v7 generates an error during installation of dependancies.

![image](https://user-images.githubusercontent.com/23530626/103939359-ef969980-512b-11eb-9b96-9df7e6c4ce48.png)

[2021-01-14 13:40] cohlar opened #18 "aws-nodejs-typescript template doesn't work"
The `aws-nodejs-typescript` create template doesn't work

<details>
<summary><code>serverless.ts</code></summary>

[code]

</details>

<details>
<summary><b>The `hello` handler works when invoked locally. However once deployed to AWS and invoked, the execution fails with the following error:</b></summary>

[code]

</details>

<b>Installed version</b>

[code]

[2021-01-14 14:43] fredericbarthelet commented on #18
Hi @cohlar , thanks for reporting this issue. Could you please provide the request of invocation ? Meaning, considering you did not make any changes to `./src/functions/index.ts`, the HTTP request details you sent to your service ?

Your stack trace mention as well a `UserFunction.js` file, could you please provide the source code of this file as well ?

Thanks

[2021-01-14 15:17] cohlar commented on #18
Hi @fredericbarthelet, thanks for responding so quickly!

I invoked the function manually in the AWS console ("Test" tab of the function, see screenshot below) with the following test event:
[code]

I've been wondering where this `UserFunction.js` is - it's nowhere in the repo. This is what I did:

1. Run `serverless create --template aws-nodejs-typescript`
2. Run `yarn`
3. Add  `region: "eu-centr

[2021-01-14 16:56] fredericbarthelet commented on #18
Thanks for putting together a repo to demonstrate your point. I deployed your repo on my AWS account.
I tested the invocation as you deed, and did in fact saw an error. However my error message was different: `Cannot read property 'name' of undefined`. Can you share your node and yarn versions ? I see this as the last remaining discrepancy that could explain your error message.

In addition, your

[2021-01-14 18:37] cohlar commented on #18
Hi,

Yes I understand, I was expecting to receive the same error message as you by not doing a `POST` request with a body.
I use node `v12.18.4` and yarn `1.22.5`.
I've reverted to the template version from commit sha `fef389b770a3f09431aa761dc98da8cd384eec3f`, and everything works perfectly for me there.

[2021-01-18 09:57] cohlar commented on #18
Just wanted to share some additional feedback: I've encountered some issues with the output JavaScript code compiled by TypeScript. I fixed these by changing `ESNext` into `ES2015` (in `tsconfg.json` lib and target). I assume the reason is I use Node 12... since AWS Lambda doesn't support node runtimes beyond Node 12, I thought you may want to consider making this part of the default template as w

[2021-01-18 10:30] fredericbarthelet commented on #18
Thank you @cohlar for pointing this out. `ES2019` is in fact 100% compatible with nodejs 12 runtimes. I'll proceed with a PR to update this.

[2021-01-18 11:14] fredericbarthelet commented on #18
@cohlar in order to help you on the issues you faced with the latest template version, could you provide me with the compiled contents of your `hello` function, as it was created by webpack ?

You can do that using S3 web interface, locating your stack deployement bucket and going down the file tree until you can download the `aws-nodejs-typescript.zip` file.

![image](https://user-images.githubus

[2021-01-18 13:48] cohlar commented on #18
That repo is no longer on AWS. I just removed `.serverless` from `.gitgnore` and pushed, so you can find the zipped file here: https://github.com/cohlar/serverless-typescript/tree/main/.serverless

Let me know if that's good enough, otherwise I'll re-deploy

[2021-01-21 19:31] a-h opened #19 "Hard to migrate to Serverless version 2.0 and remove deprecation warning"
I have an existing `serverless.ts` that was created with Serverless 1.x, and it uses a file (`provider.ts`) that exports the provider to the main `serverless.ts` file. This is a large project and it helps to break up the file.

I got the deprecation notice:

[code]

So I attempted to add `lambdaHashingVersion` to the file. But `lambdaHashingVersion` doesn't exist in the type definition.

[code]

H

[2021-01-22 00:17] fredericbarthelet commented on #19
Hi @a-h and thanks for submitting your issue.

The issue #9 is indeed related to your problem. In the mean time, you can use `AWS['provider']` to replace the `Provider` type :

[code]

I'll close this as a duplicate, feel free to re-open in case the tip above does not do the trick for you.

[2021-01-22 00:18] #19 closed

[2021-01-25 10:59] ndarproj opened #20 "aws-nodejs-typscript default template 502 internal server error"
aws-nodejs-typscript default template 502 internal server error

<details>
<summary><code>serverless.ts</code></summary>

[code]

</details>

<details>
<summary><b><code></code> output</b></summary>

[code]

</details>

<b>Installed version</b>

[code]

[2021-01-25 11:37] fredericbarthelet commented on #20
Thanks for submitting your issue @ndarproj.
You're facing the same issue as in #18

Could you please provide me with your OS and your node version ?
Could you please provide me with the content of your bundled package (the file `.serverless/practice.zip`) ?

[2021-01-25 11:40] fredericbarthelet commented on #18
Hi @cohlar, could you tel me which OS are you using ?
Could you as well tell me which path did you run your `sls deploy` command from ?

I think the code used to compute handler path may be facing issues depending on your OS (located in `lib/plugins/create/templates/aws-nodejs-typescript/src/functions/hello/index.ts` might be troubling)

[2021-01-25 11:41] ndarproj commented on #20
os: windows 10
node version: v12.18.4

here you go
[practice.zip](https://github.com/serverless/typescript/files/5866282/practice.zip)

[2021-01-25 13:07] fredericbarthelet commented on #20
Thanks @ndarproj. Could you share with me the handler path set within your provisioned lambda ?
You can find this value in the AWS web console, in the lambda detail page, below source code part.
![image](https://user-images.githubusercontent.com/23530626/105709743-6bf3ef80-5f16-11eb-8b07-9fe91578708b.png)

[2021-01-25 13:09] fredericbarthelet commented on #18
@cohlar, if you're still available, could you try replacing l.4 of `src/functions/hello/index.ts` with the following code :
[code]
and see if it works

[2021-01-25 14:02] ndarproj commented on #20
hi @fredericbarthelet

![Uploading image.png…]()

[2021-01-25 16:50] fredericbarthelet commented on #20
Nice :)

In order to have something working on both Unix and Windows OS, could you check that replacing the `handler` property in `src/functions/hello/index.ts` with

[code]

actually solves the issue both for local invocations and remote invocations ?

[2021-01-28 13:41] #18 closed

[2021-01-28 13:41] #20 closed

[2021-01-30 17:40] cohlar commented on #18
Hi @fredericbarthelet ,

Sorry for the late reply, I see the issue has been fixed - answering just in case it's of any help:
- I use Windows 10
- I ran `sls deploy` from the project root (something like `C:\Users\cohla\dev\aws-nodejs-typescript`)
- I replaced and it works. I also tried the fix from your PR and it works as well

Thanks again for your help!

[2021-02-04 08:52] rcoundon opened #22 "Lambda now supports nodejs14.x - update typedefs to accommodate"
I've submitted a  PR https://github.com/serverless/typescript/pull/21

[2021-02-04 10:27] fredericbarthelet commented on #22
Hi @rcoundon and thanks for submitting a PR :)
This repository aims to dynamically generates typescript definitions using the JSON schema generated in https://github.com/serverless/serverless. No modification shall be done directly to `index.d.ts` as those will be erased once a new Serverlesss framework version is released.

In order to make your modification, you should add the new nodejs layer d

[2021-02-04 10:37] rcoundon commented on #22
Ah, I see. Thanks @fredericbarthelet

[2021-02-04 10:37] #22 closed

[2021-02-09 10:00] CorentinDoue opened #26 "Add support of path section of tsconfig for serverless.ts"
### Use case description

Using a `serverless.ts` config in a typescript project with tsconfig paths, the paths are not resolved by serverless framework during the requirement of `serverless.ts`

[code]
[code]

=>

[code]

### Proposed solution

According to [ts-node documentation](https://github.com/TypeStrong/ts-node#loading-tsconfigjson) (currently used for transpilling `serverless.ts`), it is

[2021-02-10 13:28] remcoabc opened #27 "index.d.ts is invalid"
Whenever I use the intended AWS type (as described in the readme) it throws the following compilation error:
`TS2411: Property '"Fn::Transform"' of type '{ Name: string; Parameters?: { [k: string]: unknown; }; }' is not assignable to string index type '{ Type: string; Properties?: { [k: string]: unknown; }; CreationPolicy?: { [k: string]: unknown; }; DeletionPolicy?: string; DependsOn?: string[];

[2021-02-10 13:49] fredericbarthelet commented on #27
Hi @remcoabc and thanks for submitting this issue. Could you please provide your serverless.ts file :) ?

[2021-02-10 14:52] remcoabc commented on #27
`import { AWS } from '@serverless/typescript';
import { helloWorld } from './functions';

const serverlessConfiguration: AWS = {
  service: 'remco-stage',
  frameworkVersion: '2',
  plugins: [
    'serverless-webpack',
    'serverless-pseudo-parameters',
  ],
  custom: {
    webpack: {
      webpackConfig: './webpack.config.js',
      includeModules: true,
      keepOutputDirectory: true,
    },

[2021-02-10 14:53] remcoabc commented on #27
`
import { AWS } from '@serverless/typescript';
import { helloWorld } from './functions';

const serverlessConfiguration: AWS = {
  service: 'remco-stage',
  frameworkVersion: '2',
  plugins: [
    'serverless-webpack',
    'serverless-pseudo-parameters',
  ],
  custom: {
    webpack: {
      webpackConfig: './webpack.config.js',
      includeModules: true,
      keepOutputDirectory: true,
    },

[2021-02-12 12:55] nhammond101 opened #28 "Support tsconfig-paths and specify tsconfig*.json"
### Use case description

A change to load [tsconfig-paths](https://www.npmjs.com/package/tsconfig-paths) in supoort of serverless.ts definition files and secondly to optionally pass a different tsconfig file to the serverless command.

Primary use case is to allow the typescript compiler to use different paths when compiling the serverless.ts definition file.

Monorepos such as nx rely heavily on

[2021-02-12 16:24] nhammond101 commented on #26
I came to the same conclusion - i opened a PR (https://github.com/serverless/serverless/pull/8931) but it does impact the core serverless library, and i'm trying to write tests for handling when tsconfig-paths is and isn't available to be used

https://github.com/serverless/typescript/issues/28

[2021-02-13 11:44] fredericbarthelet commented on #28
Thanks @nhammond101 and @CorentinDoue for reporting the issue. It would indeed be of great value to TS developers to be able to take advantages of tsconfig-paths.
Thanks @medikoo and @pgrzesik for transfering it to this repository.

With Serverless current process, handling TS related configuration requires to update the service file reading script located in `lib/configuration/read.js` (see exemp

[2021-02-13 11:45] fredericbarthelet commented on #26
Thanks @CorentinDoue for reporting this isssue.
I'm closing this in favor of https://github.com/serverless/typescript/issues/28. Let's continue the discussion over there :)

[2021-02-13 11:45] #26 closed

[2021-02-13 23:15] nhammond101 commented on #28
A bit more digging:

1. Setting `TS_NODE_PROJECT=./tsconfig.app.json` allows me to specify the tsconfig file to use.
2. Adding
[code]
to the tsconfig.app.json _should_ work (i've traced the require all the way through to ts-node), but i'm still seeing `cannot find module x` errors that should be accessible if paths are being followed

[2021-02-13 23:46] nhammond101 commented on #28
So minor step forward - changing
[code]
to
[code]
does _seem_ to help.  I need to some more digging as the serverless-webpack plugin is throwing an error about a missing `baseUrl` in the tsconfig compilerOptions

[code]

[2021-02-14 11:42] fredericbarthelet commented on #27
Thanks @remcoabc. Your service file looks perfectly fine. Could you share as well your node version and your package.json for better understanding (i'm particulary interested in your TypeScript version). Could you let me know as well your `tsconfig.json` for typescript specific configuration ? Thanks :)

[2021-02-14 13:07] fredericbarthelet commented on #28
@nhammond101 you can try your config with TS 4.1. Using a baseUrl is not required anymore: https://devblogs.microsoft.com/typescript/announcing-typescript-4-1/#paths-without-baseurl

[2021-02-14 16:39] nhammond101 commented on #28
i'm using 4.1 but https://github.com/dividab/tsconfig-paths/issues/143 is causing the issue.

The workaround is adding  `delete process.env.TS_NODE_PROJECT;` into the `webpack.config.js`

i'll create a fork of the [typescript example](https://github.com/serverless/serverless/tree/master/lib/plugins/create/templates/aws-nodejs-typescript)  and try and recreate the scenario.  i think the base exampl

[2021-02-14 16:54] nhammond101 commented on #28
I'm wondering if using the [webpack Environment](https://webpack.js.org/plugins/environment-plugin/) plugin to unset `TS_NODE_PROJECT` would work within the webpack config instead

[2021-02-14 20:21] nhammond101 commented on #28
I've pushed a example repo - https://github.com/nhammond101/serverless/tree/master/lib/plugins/create/templates/aws-nodejs-typescript

* added a tsconfig.app.json
* updated webpack.config.js to remove the `TS_NODE_PROJECT` once it's been used
* added a build script for demo purposes

[2021-02-15 10:41] remcoabc commented on #27
[code]

I am using node version 12.20.1
@fredericbarthelet

[2021-02-15 15:15] medikoo commented on #28
@fredericbarthelet I think that's a very good call.

Still, as it's about adding a hook at the very early stage of command processing, where we do not have config parsed (so have no means to know what plugins are intended to be loaded), it cannot be really done via plugins.

A solution that comes to my mind is.

1. Introduce  support for optional `serverless` settings namespace in `package.json`
2

[2021-02-16 09:00] fredericbarthelet commented on #27
Thanks @remcoabc, can you provide your `tsconfig.json` as  well ? My understanding is that your current configuration checks for dependancies as well.
You can bypass this behavior in 2 ways :
- set `"skipLibCheck": true` in your compilerOptions in `tsconfig.json`
- ignore node_modules folder by setting `"exclude": ["node_modules/**/*"]` in `tsconfig.json`

Can you  confirm the above solution solve

[2021-02-16 09:06] remcoabc commented on #27
I have the node_modules folder already ignored as you can see in my tsconfig.json:

[code]

[2021-02-16 10:50] grimm2x commented on #27
I had the same issue.  Updated the AWS.resources.Resources type with ( | ) to resolve it:

[code]

[2021-02-16 12:34] remcoabc commented on #27
This will indeed work if I am able to change the files. Problem is that since I use it in my ci/cd pipeline it will be redownloaded. This means that every change I do to the src code of this library does not have any effect. It would be a solution if that is added in this repo but since the index.d.ts file is auto generated it needs to be fixed somewhere else I think.

[2021-02-16 20:07] grimm2x commented on #27
Agreed, it needs to be fixed somewhere upstream.  Hopefully this hints at what we're seeing.  Just a temporary option to keep typing instead of casting as any.

[code]

[2021-02-16 22:48] fredericbarthelet commented on #27
@grimm2x @remcoabc thanks to both of you for your insights.
A bit of context concerning the appearance of this issue :

- type checking started failing at [release v2.24.0](https://github.com/serverless/serverless/releases/tag/v2.24.0) of serverless with the following addition https://github.com/serverless/serverless/pull/8929
If you'd like to fix this for the moment, you can revert back to the pr

[2021-02-16 23:18] fredericbarthelet commented on #28
@nhammond101 thanks for your awesome work :) ! Do you think you can provide a PR to the template to :
- add dependency to `tsconfig-path`
- add require option for `ts-node` in `tsconfig.json` like you did in https://github.com/nhammond101/serverless/commit/9bb6a86f76877c49333f90d3112eeb6a0dfccd40
- add a use case of `serverless.ts` actually using one path (`@functions` refering to `src/functions`

[2021-02-17 08:24] medikoo commented on #28
That's very welcome!

I've realized that while we support `.ts` config file, we also should support `.ts` files in  `${file(..)}` variables (see https://github.com/serverless/serverless/issues/8071). Technically that is possible via plugins, but separating support for `.ts` config file and `.ts` file in `${file` to be configured via two different means, doesn't look good. Therefore maybe we should

[2021-02-18 08:14] pgrzesik commented on #28
I think your suggestion makes a lot of sense @medikoo - it would also allow for a more modular approach to the Framework in general I believe. One question I have - what, in your opinion, should be exported by such `extension`? Should we have a generic API for what might be exported by them?

[2021-02-18 10:55] medikoo commented on #28
I think it should support whatever extensions we have use case for.

I'd start with supporting this use case, so simply `configResolver`, and then probably `fileImportExtension`. Support for both I believe should be added with separatre PR's (with first one also driving extensions support).

I honestly hope that we will end at that point. Ideally, all that can be addressed via plugins is better if

[2021-02-18 22:16] nhammond101 commented on #28
@fredericbarthelet I think so, I've created a [PR](https://github.com/serverless/serverless/pull/8968) and added a small advanced section in the README that could form the basis for advanced configurations.

[2021-02-22 11:44] mblpz commented on #27
how/where can i contribute on this issue? aksing because i stumbled upon https://github.com/serverless/typescript/pull/12

[2021-03-08 22:18] joepjoosten opened #30 "No support for StringList or JSON ssm variables"
e.g. ssm variable with the following value: `['subnet1', 'subnet2']` can't be used in the following snippet:
[code]

Because subnetIds is correctly typed as an `string[]` (or some cloudformation intrinsic function), but the way variable resolving works this will never work.
The only way to resolve this is to optionally type subnetIds as a `string`, but this is technically incorrect...

How to solv

[2021-03-09 01:52] mikkel-pearl commented on #30
I was just literally coming to file the exact same issue for the exact same use case...

I just am resolving it the way you have displayed (with the minor adjustment of using ~split at the end of the varname) and I adjusted my local .d.ts file to accept a single string so it would compile. It's working perfectly, except now I have to maintain a fork - so it would be very helpful if this could be r

[2021-03-10 10:48] fredericbarthelet commented on #30
Hi @joepjoosten, @mikkel-pearl and thanks for submitting this issue.

I'll mark it as a duplicate from #11 where the same issue of using Serverless variable pattern arise.

There is a better specification than just adding string, which could be the use of Typescript 4.1 template literal string feature :

[code]

If you don't mind, let's continue this discussion on the other issue tracker :)

[2021-03-10 12:05] markcastle opened #32 "org: and app: missing from serverless schema?"
Hi, New here :-)

I'm trying to migrate existing microservices to typescript using your awesome work but when I try to migrate the following...

[code]

eg,

[code]

I get...

"Object literal may only specify known properties, and 'org' does not exist in type 'AWS'.ts(2322)"

Understandably this doesn't exist as from what I can see you are generating types directly from the schema at https://githu

[2021-03-10 17:53] omer-to opened #33 "httpApi event annotation is mistaken."
Starting at line 972, this is the definition for `httpApi`.

So `httpApi` is either a string or an object. And if It is object, the `method` property is annotated as `optional`, however, that is not the case, and will result in deployment failure.

[code]

Moreover, there are other optional properties that would prevent from typescript compilation (the project was created with was-nodejs-typescrip

[2021-03-11 13:09] markcastle commented on #32
I guess these params are newer than I thought with some updates to their recognition in serverless 2.27.0

https://github.com/serverless/serverless/pull/8997

[2021-03-12 08:56] fredericbarthelet commented on #32
Hi @markcastle, thanks for submitting your issue :)

`org` and `app` params are not defined within Serverless core framework. They are part of the [enterprise plugin](https://github.com/serverless/enterprise-plugin). Plugins can alter the schema used for validation using dedicated API described in https://www.serverless.com/framework/docs/providers/aws/guide/plugins#extending-validation-schema.

T

[2021-03-12 08:57] #32 closed

[2021-03-12 10:26] fredericbarthelet commented on #33
Hi @omer-to and thanks for submitting this issue.

There is one case in which only path is required: when `path` equals `'*'` -> see https://github.com/serverless/serverless/blob/aa7b66a66c199c236bedfbc3b3aab39acb0eb6ad/lib/plugins/aws/package/compile/events/httpApi.js#L372-L380

@medikoo @pgrzesik shouldn't we deprecate this single usage in order to simplify the httpApi configuration with 2 cases

[2021-03-12 12:04] medikoo commented on #33
@fredericbarthelet I understand it's about deprecating `{ path: "*" }` in favor of `{ path: "*", method: "*" }`. It could make sense, if also specific method could be assigned for `path: *`, but thing is that for `path: *` there only valid value is `method: *`, and that would make this additional configuration line unnecessarily verbose.

[2021-03-12 13:03] fredericbarthelet commented on #33
@medikoo my intend was to deprecate `{ httpApi: { path: "*" } }` in favor of `{ httpApi: "*" }`. WDYT ?

[2021-03-12 13:08] medikoo commented on #33
I think any shorthand notation should have representation in object notation, and following that will break that rule.

[2021-03-12 13:54] fredericbarthelet commented on #33
Understood :) So we keep it that way. Thanks @medikoo

@omer-to is everything clearer regarding your comments or do you still need some help ?

[2021-03-15 02:33] movaldivia opened #35 "AWS dynamodb support"
Would be nice to have dynamodb definition.

[2021-03-16 00:52] vnshgrg opened #36 "Deployment fails with " 'app' does not exist in type 'AWS' ""
I have set up a CI/CD pipeline for my serverless app I was also able to deploy via the pipeline before, but since few days the deployment is failing with the following error. I haven't made any significant changes to my `serverless.ts` file.

[code]

Is anyone else having similar issues?

[2021-03-16 01:30] vnshgrg commented on #36
However, when I remove `app` and `org` property from my `serverless.ts` then it seem to work as expected.

[code]

Is this expected behavior?

[2021-03-16 08:20] fredericbarthelet commented on #36
Hi @vnshgrg and thi and for reporting your issue.

This is a duplicate of #32. app and org properties will be available on next release of serverless/typescript

As for your problem regarding serverless-offline, can you share additional information regarding the issue ?

[2021-03-16 15:15] vnshgrg commented on #36
Hello @fredericbarthelet
Oh, for the `serverless-offline` plugin commenting out `app` and `org` fails the offline plugin as it is unable to figure out where to look for params stored in serverless dashboard.

for now changed this:
[code]
to this:
[code]

seem to work for me for both deployment and local development.

[2021-03-18 08:13] fredericbarthelet commented on #36
Hi @vnshgrg, `v2.30.3` of this package, just released, now defines `app` and `org` parameter in `AWS` type :)

https://github.com/serverless/typescript/blob/a4afa81d5a223f635a7dd8498fabc630ec368401/index.d.ts#L1284-L1285

Feel free to update your local package version. I'm closing this, feel free to re-open in case you face the same issue again.

[2021-03-18 08:13] #36 closed

[2021-03-18 08:15] fredericbarthelet commented on #35
Hi @movaldivia and thanks for reporting your issue.
This repository only holds typescript definitions for the Serverless framework.

The main [serverless repository](https://github.com/serverless/serverless) is the place for your feature request. Feel free to open a dedicated issue on this repository with your feature request. Closing this here in the meantime.

Thanks

[2021-03-18 08:15] #35 closed

[2021-03-18 17:55] cohlar opened #37 "Import / Export in serverless.ts when targeting ES module in tsconfig"
Hello,

This is more of a TypeScript issue than a Serverless issue, however I believe it may be useful to future Serverless TS users so I hope it's fine to ask here.

I have been using Serverless for a few months, and it's been working great, I built all by "backend" and "job server" with it.
Now I want to add a Vue.js frontend in the same repo, which requires to set `"module": "esnext"` in `tscon

[2021-03-31 13:31] fredericbarthelet commented on #37
Hello @cohlar and thanks for submitting your issue.
I'll take a look at current tsconfig module parameter set to CommonJS instead of esnext, thanks for pointing this out.

As far as using the same tsconfig file for both your frontend code base and your backend, I would not want to do that. There are a few additional parameters other than module to take into consideration :
- `target` parameter mig

[2021-03-31 13:33] fredericbarthelet commented on #33
Hi @omer-to, I'm closing this issue. Feel free to re-open in case you face additional problems :)

[2021-03-31 13:33] #33 closed

[2021-04-04 08:27] cohlar commented on #37
Hi, you are absolutely right. I'm pretty new to TypeScript and to the concept of monorepos, I try to keep my codebase as simple as I can, but here you're right it doesn't make sense - thanks for pointing that out!

[2021-04-07 21:15] omar-dulaimi opened #38 "Fn::Split support?"
Hello,

I'm getting this validation error locally in my serverless.ts file:

[code]

So I looked into the library code and couldn't find it mentioned anywhere. I saw the others though, like Fn::Join and the rest.

This brings my question, is the split method supported? Because I checked the later releases after v2.29.0 commit by commit and nothing was there(A change log would be really great by th

[2021-04-07 22:05] omar-dulaimi commented on #38
Okay, So I ended up doing this:

[code]

But I get this warning while deploying:

[code]

[2021-04-08 12:33] fredericbarthelet commented on #38
Hi @omar-dulaimi and thanks for reporting your issue.
This repository aims to contains only TypeScript definitions compiled from Serverless core framework internal validation logic.
If you ignore the TS error showing that using `Fn::Split` is not a valid property for `securityGroupIds`, you'd  still have the framework complaining about it (hence the warning you got on your second  try).

I opened

[2021-04-09 13:28] DaveLo opened #40 "Question: using typescript template in an nx monorepo"
I think this is somewhat related to #28 ,

I'm getting initialization errors when I try to run serverless commands in the nx app directory. This happens whether I cd into the the directory and run manually or use nx run commands.

What I've noticed is if I point serverless webpack at `tsconfig.app.json`, but there is a `tsconfig.json` file in the same directory I get an initialization error. If I

[2021-04-09 15:11] pveller commented on #38
Not a directly related question but I would appreciate your guidance. Now that type definitions are auto-generated, certain things are much clearer and certain things are not. Please take a look at `stream` event definition:

I do this:
[code]
and serverless fails fast on  `functions.propagate.events[0].stream.arn': should be string` with `configValidationMode: 'error'`. If I turn off `configValid

[2021-04-13 08:11] fredericbarthelet commented on #40
Hi @DaveLo and thanks for reporting your issue.

Indeed, the result from #28 shows that using env variable `TS_NODE_CONFIG=./tsconfig.app.json` does the trick of letting serverless know which file you'd like to use -> https://github.com/serverless/serverless/tree/master/lib/plugins/create/templates/aws-nodejs-typescript#advanced-usage

Is this solution compatible with your monorepo usage (you'd ha

[2021-04-13 13:10] DaveLo commented on #40
I did try that, but it seems to still latch onto there being a tsconfig.json in the directory?

I thought it was interesting that running the same command (with the env var) would fail with a tsconfig.json in the lib and succeed if I changed that to tsconfig.lib.json.  If that didn't break typescript references inside the directory it would be workable , but sadly it seems to (probably something w

[2021-04-13 13:56] #38 closed

[2021-04-13 14:18] fredericbarthelet opened #41 "Stream typescript auto-generated definitions"
Not a directly related question but I would appreciate your guidance. Now that type definitions are auto-generated, certain things are much clearer and certain things are not. Please take a look at `stream` event definition:

I do this:
[code]
and serverless fails fast on  `functions.propagate.events[0].stream.arn': should be string` with `configValidationMode: 'error'`. If I turn off `configValid

[2021-04-13 14:38] fredericbarthelet commented on #41
Hi @pveller and thanks for reporting your issue.
Regarding your issue, the code that will be used for typescript definition generation is https://github.com/serverless/serverless/blob/19805d71eabb68bd7fd4046aa23090ef85fb1c36/lib/plugins/aws/package/compile/events/stream.js#L15-L90

This JSON schema definition can be improved to ensure generated type stills give you information on the expected type

[2021-04-16 14:46] medikoo commented on #28
@fredericbarthelet @pgrzesik @nhammond101 I've opened issue with implementation spec on Framework side https://github.com/serverless/serverless/issues/9311 This should bring us closer  to have that implemented.

Let me know what you think

[2021-04-22 20:49] pjain11 commented on #11
any update when this will be resolved?

[2021-04-23 00:35] ryansonshine commented on #11
@pjain11, this issue is blocked by #1 . It will be resolved shortly after

[2021-04-23 05:44] JustFly1984 opened #42 "Typescript error `"Fn::Transform"?: {` while `tsc --noEmit`"
I'm getting a single typescript error in whole of my project:

[code]

[2021-04-23 20:11] kaioduarte commented on #42
related to https://github.com/serverless/typescript/issues/27

[2021-04-27 08:08] fredericbarthelet opened #43 "Support for additional properties defined by Serverless plugin"
Original intent : add the `serverless-step-functions` plugin definition in https://github.com/serverless/typescript/pull/39

In order to implement definitions from https://github.com/serverless-operations/serverless-step-functions plugin within this package, one way could simply be to add dependency to this specific plugin in https://github.com/serverless/typescript/blob/b9825f6a5d5c2923282043ff36

[2021-04-27 08:12] fredericbarthelet commented on #42
Closing this in favor of #27

[2021-04-27 08:12] #42 closed

[2021-04-27 08:15] fredericbarthelet commented on #40
Hi @DaveLo, if you want to get involved in this, we're currently reworking the way serverless framework loads service file defined in TS in this issue https://github.com/serverless/serverless/issues/9311
In the meantime, I'm closing this. Thanks for your feedbacks :)!

[2021-04-27 08:15] #40 closed

[2021-04-27 08:16] fredericbarthelet commented on #37
Glad I could help :)
I'll close this in the meantime, do not hesitate if you need additional information!

[2021-04-27 08:16] #37 closed

[2021-04-27 08:17] #30 closed

[2021-04-27 08:21] fredericbarthelet commented on #16
Serverless switched back to ajv `v6` due to performance issue. Currently opened draft PR to switch to `v7` (https://github.com/serverless/serverless/pull/8779) will be implemented with `v3` of Serverless framework

[2021-04-28 05:30] JustFly1984 commented on #27
I've fixed type declarations and created PR https://github.com/serverless/typescript/pull/44

[2021-04-30 08:12] omar-dulaimi commented on #38
Hello @fredericbarthelet and thank you for getting it merged.

I updated the library and removed the old unnecessary casting in my code, and now ended up with these warnings that I'm not sure if related to this issue.

`Type 'string' is not assignable to type 'AwsCfFunction'.ts(2322)
`

![Screenshot from 2021-04-30 11-06-57](https://user-images.githubusercontent.com/11743389/116666910-355dc300-a9a

[2021-05-04 06:42] fredericbarthelet commented on #27
There currently is a PR ongoing in `json-schema-to-typescript` that will solve this issue. Do not hesitate to upvote :)

https://github.com/bcherny/json-schema-to-typescript/pull/383

[2021-06-09 21:50] ggmartins opened #45 "Migration from .yaml"
Dear,

thanks for your great work on serverless/typescript. I have some legacy (sls 1.14) code I'm trying to migrate from .yaml. I'd like to know if there is any documentation/reference implementation for the syntax required to wire up various components like policies, sns topics, roles etc.

Also, is there a way to still use the old .yaml format after a generated template (`sls create --template

[2021-06-10 08:03] fredericbarthelet commented on #45
Hello @ggmartins and thanks for your interest in this project :)

If I understood correctly, you're trying to migrate from `serverless.yaml` to `serverless.ts` service definition file ?
Be aware that using Typescript definition file is only available since https://github.com/serverless/serverless/releases/tag/v1.72.0
Apart from that, you can find the related documentation here : https://www.server

[2021-07-06 16:38] coyoteecd opened #46 "Support referencing resources from yaml files"
### Use case
Our existing serverless.yml files reference (partial) CloudFormation templates defined separately, as follows:

[code]

Each resource yml file is a "valid" chunk of CloudFormation template, as follows:

[code]

The advantages of the above setup (for us) is we can then configure [cfn-lint](https://github.com/aws-cloudformation/cfn-lint) tool to run against the entire /resources folder

[2021-07-16 17:34] bfaulk96 opened #47 "Suggestion: More granular string typing"
Admittedly, I'm not sure what version of Typescript this supports, or how the types definitions are created, but with Typescript allowing template strings, would it be possible to implement something along the lines of

[code]
(Based on the docs [here](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-template-resource-type-ref.html)

This would further help avoid pesky typos of t

[2021-07-20 22:48] pdecarcer commented on #46
You can wrtie `./cf-resources/resource1.yml` on TS and then import. In that case just use TS

[2021-07-21 08:29] coyoteecd commented on #46
@pdecarcer can you elaborate a bit?

[2021-07-21 12:48] spawn-guy commented on #1
it seems that s3 event definition is not correctly converted

https://github.com/serverless/typescript/blob/master/index.d.ts#L164

should be
[code]
as AJV schema wants only 1 property
`Configuration warning at 'functions.lambda_name.events[0].s3.rules[0]': should NOT have more than 1 properties`

[2021-08-18 22:02] justingrant opened #48 "Cannot load "serverless.ts": Initialization error - caused by incompatible tsconfig `module` setting that breaks serverless.ts compilation"
I spent the last hour troubleshooting why serverless.ts was failing to load. The root cause was my tsconfig.json included `"module": "esnext"` which made the compiled severless.ts unable to be `require`-d by read.js. After a lot of googling and step-through debugging, I finally ended up at #28, which helped me identify a workaround: create a blank tsconfig file and use it for serverless.ts compila

[2021-08-19 19:56] justingrant opened #49 "CORS config TS types (both here and in @types) don't mach the schema"
I ran into https://github.com/serverless/serverless/issues/9858 because the TS types don't have an accurate type for `HttpCors`.

Here's the schema: https://github.com/serverless/serverless/blob/ef5a8faf13a8fbf8564e7c0621e88d1ea5357ea5/lib/plugins/aws/package/compile/events/apiGateway/index.js#L77-L98

The current type in this repo is essentially a no-op.
https://github.com/serverless/typescript/b

[2021-08-20 07:26] fredericbarthelet commented on #48
Thanks for raising this issue @justingrant.

I'd be happy to accept a documentation PR outlining this issue. Would you like to make it :) ?

At the moment, no additional language-specific (understand TS-specific) modification will be brought to main framework. However, discussion is open and PR are welcome to remove TS-specific code from main serverless/serverless to dedicated lib. Once this seper

[2021-08-20 07:38] fredericbarthelet commented on #49
Thanks for pointing out this issue @justingrant .
Types from this repository are auto-generated from schema located in https://github.com/serverless/serverless. The library handling the type generation is struggling with the `oneOf` keyword located in the required section of the CORS schema. Once it is removed, chances are next type generation will be much more accurate.

I tried removing this `on

[2021-08-20 19:50] justingrant commented on #49
Those types don't actually look correct:
* One of `origin` or `origins` is required or validation will fail (serverless/serverless#9858)
* If I remember correctly, `headers` (and maybe `methods` too?) accepts a comma-delimited `string` as well as a `string[]`
* `integration?: string | string | string | string ...` is that missing the string enum values?

[2021-08-23 13:10] shobhit-kb opened #50 "Support string type for vpc setting in serverless.ts"
We have use case where we need to apply vpc setting based on stage value. In dev we do not have any vpc setting but for prod and other test env we need one.

In vpc we want to provide reference to serverless custom fields based on stage
like this

[code]

but the @serverless/typescript allows vpc to be only of type AwsLambdaVpcConfig

Please add string type for vpc setting in serverless.ts or prov

[2021-09-24 03:18] herebebogans opened #51 "are releases in step with serverless?"
The README states

"This automated pipeline is triggered every time a new release of Serverless framework is available"

serverless is at 2.59.0 (9 days ago)  but the last release here is 2.55.0 (just over a month)

[2021-09-24 07:47] fredericbarthelet commented on #51
Hey @herebebogans, it is still semi automated at the moment.
Types generation is, trigger isn't. I just launched the process for v2.59.0.

[2021-09-30 23:44] #51 closed

[2021-10-14 06:30] coyoteecd commented on #46
@fredericbarthelet what's your opinion, would you accept a PR that changes the resource type as suggested above?

[2021-10-14 07:57] fredericbarthelet commented on #50
Hi @shobhit-kb and thanks for raising this issue.
This actually extends to all serverless variables in any template and is a duplicate of https://github.com/serverless/typescript/issues/11. Feel free to contribute on this issue. Closing this in the meantime.
Thanks :)

[2021-10-14 07:57] #50 closed

[2021-10-14 13:11] bfaulk96 commented on #47
Hey @fredericbarthelet, thanks for the response!
Unfortunately, I don't really know anything about JSON-schema, so I'm not sure if it would be possible. I'll look into it and get back to you about it 😄

[2021-11-09 21:17] macsj200 commented on #27
As a note, I'm still running into this issue on `@serverless/typescript` version `2.65.0`.

<details>
<summary>
package.json
</summary>

[code]

</details>

<details>
<summary>
tsconfig.json
</summary>

[code]

</details>

<details>
<summary>
Error message
</summary>

[code]

</details>

[2021-12-04 20:57] xr0master opened #53 "serverless v3 support"
Are there any plans to release types for version 3?
We are waiting for the new syntax support :)

[2021-12-06 17:59] fredericbarthelet commented on #53
Hey @xr0master and thanks for submitting this issue.
At this moment, v3 only removes a few attributes. In any case, I just published a version to npm with tag `pre-3.0.0`. Feel free to use it :)

[2021-12-06 17:59] #53 closed

[2021-12-06 18:22] xr0master commented on #53
Hi, @fredericbarthelet and thank you a lot! It was fast :)
It does not only remove a few things but also adds a new syntax and deprecates other staff. It would be nice to switch to the new syntax.
For example the `aim*` [options](https://www.serverless.com/framework/docs/guides/upgrading-v3#deprecated-features-that-will-be-kept-in-v3)

[2021-12-08 18:25] fredericbarthelet commented on #53
Hi @xr0master , thanks for sharing an exemple. However, in particular for `provider. iamRoleStatements` being deprecated in favor of `provider.iam.role.statements`, both input were already accepted in this library for `v2.xx` (deprecations are not marked in a particular way in the Typescript definition) and remain accepted in `v3.xx` as it was too costy to actually remove them and force people tu

[2021-12-08 20:08] xr0master commented on #53
Oh, sorry, I didn't notice that you added support for new interfaces. I got confused by the expression: "v3 only removes a few attributes" :)
It works very smoothly! Thank you.

[2021-12-17 00:47] ianzone opened #55 "useDotenv doesn't work"
Hi, my setting is like

  useDotenv: true,

  provider: {
    name: 'aws',
    region: 'us-west-1',
    runtime: 'nodejs14.x',
    logRetentionInDays: 7,
    lambdaHashingVersion: '20201221',
    environment: {
      ClientID: '${env.ClientID}',
      ClientSecret: '${env.ClientSecret}',
    },
  },

When I call console.log(process.env.ClientID, process.env.ClientSecret) in lambda, it literally pr

[2021-12-17 10:19] #55 closed

[2021-12-17 10:21] ianzone commented on #55
oops, just found my typo, it should be
environment: {
ClientID: "${env:ClientID}",
ClientSecret: "${env:ClientSecret}",
},

[2022-01-05 02:59] Woodz opened #56 "Proposal: Add typing for properties of known Resource types"
Currently the definition of `Resources` Properties is very generic:
[code]
This does not provide support for or catch any issues with the properties of known resources. It looks like this is because the core `serverless` JsonSchema files do not cover known resources (because they don't need to), but it would be still be useful if this could be added into the TS definitions.

There is something sim

[2022-01-05 04:52] Woodz opened #57 "Request: Improve documentation to explain where the JSON schema files used to generate the TS definitions come from"
I'm very excited to see the automation involved in this repository to ensure the definitions are kept up to date. However, tracing the origin of the definitions is quite hard because the documentation just states

However, trying to find which JSON schemas this repo uses is very hard, since there is no mention of where these schemas are on:
- README on https://github.com/serverless/serverless
- as

[2022-01-08 13:53] SimonSongCA opened #58 "Question: Any guidebook of how to set up serverless.ts for deployment?"
I was assigned to do a deployment of my service including the Dynamodb onto AWS. I was given a sample of how the service should be deployed, but I have no idea how to systematically follow the pattern of how the serverless.ts I should leverage.

I noticed that @severless/typescript contains many variable formats, but how can these variables be configured correctly, and how can I make sure that I a

[2022-01-10 16:20] fredericbarthelet commented on #58
Hey @SimonSongCA, thanks for reaching out and welcome to your serverless journey !
`serverless.yml`, `serverless.json`, `serverless.js` and `serverless.ts` are not configured differently, they are just written using different syntax. You can follow this documentation to find out more about those 4 service file formats: https://www.serverless.com/framework/docs/providers/aws/guide/intro#services

I

[2022-01-10 16:20] #58 closed

[2022-01-10 16:45] fredericbarthelet commented on #57
Hi @Woodz, thanks for opening this issue.
JSON schema used by the Serverless framework to validate any service file is programmatically built using a set of APIs, mostly exposed to plugin developers, in order to allow them to expand framework capabilities with new properties.
This API is also used internally by framework core features, as each of them is actually develop in the form of a plugin.

[2022-01-11 08:15] Woodz commented on #27
For my situation (listed below), I needed to apply both workarounds (i.e. both skipLibCheck and ignore node_modules) to fix this.

- "serverless": "^2.57.0",
- "@serverless/typescript": "^2.70.0",
- "target": "ES2019",
- "module": "commonjs",

[2022-01-23 11:59] appletreeat56 opened #59 "Support for SSM (AWS's system manager)"
Hi,
I have been trying to access `ssm` on `serverless.ts` file but I keep getting this error -
[code]
It use to work fine on serverless.yml. I have looked at the definition file and I could not see any reference to `ssm` either, so I am assuming that it is not supported. If so, can you please confirm?

p.s: I can confirm that this `ssm` entry does exist on AWS and I can access it via AWS CLI.

[2022-01-23 22:01] fredericbarthelet commented on #59
Hi @appletreeat56 and thanks for submitting your issue.
Could you please share your `serverless.ts` service file content here ?

This repository translates Serverless framework internal validation constraints in Typescript definition. Anything supported by the framework is reflected here.

[2022-01-24 09:08] appletreeat56 commented on #59
Hi Fred, Thanks for getting back on this issue. Below is the serverless.ts and `ssm` call is in the `environment` field
[code]

[2022-03-16 13:50] coyoteecd opened #60 "Generate alias/intermediary type for function definition"
@fredericbarthelet

Is it possible to generate an intermediary type/alias for the indexer type of AWS functions? Some plugins expect additional configuration properties in the function definition, and this gives compile errors when using a serverless.ts file.

A good example is https://github.com/go-dima/serverless-plugin-conditional-functions.

My serverless.ts file:
[code]

The type definition f

[2022-03-23 12:14] colthreepv commented on #60
This is such a painful thing indeed to have
Solution here: https://stackoverflow.com/questions/71278233/how-to-pick-or-access-indexer-index-signature-property-in-a-existing-type-in-typ

[2022-03-23 16:58] coyoteecd commented on #60
@colthreepv thanks for the link, you saved me. What I was missing was the NonNullable<> part, the error message from tsc for `AWS['functions'][string]` was not very helpful.

[2022-04-05 18:23] ChristopherGillis commented on #28
I know a lot has changed in the last year, but I still can't seem to find a solution to this open issue. Does anyone know a workaround?

[2022-04-14 19:33] severi commented on #28
bumped into this issue as well just now and hoping to find some solution to this.

[2022-04-26 16:00] simonmellor opened #61 "function destinations do not support CloudFront intrinsic functions"
In the documentation for functions there is an example of usage for destinations where CloudFront functions are used. This is not possible to achieve using the typescript AWS interface which specifies a string for onSuccess and onFailure.

https://www.serverless.com/framework/docs/providers/aws/guide/functions#destinations

[2022-04-26 16:19] fredericbarthelet commented on #61
Hi @simonmellor, thanks for your feedback.
The Typescript definition referring to `onSuccess` and `onFailure` property for each fonction is detailed hereafter:

https://github.com/serverless/typescript/blob/66ebd87f9516ca2116b0f3e02ae8c9007333dfbb/index.d.ts#L595-L608

This definition allows `string` as well as objects with an `arn` property refering to `AwsCfFunction`. The definition for such typ

[2022-05-05 16:45] nick-zh opened #63 "Update for serverless:3.16.0"
Would be nice if the definitions can be updated for `serverless:3.16.0`
You can see in my pr what changed: https://github.com/serverless/typescript/pull/62

[2022-05-13 06:42] #63 closed

[2022-05-13 17:00] redeemefy opened #64 "Type for index.ts"
Does the type for the `index.ts` exists? If so, can we share sample code on how to add types for the  `index.ts`?

Thanks

[2022-05-16 09:07] mnapoli commented on #64
I don't understand your question, there are types in this file: https://github.com/serverless/typescript/blob/master/index.d.ts

[2022-05-16 23:46] redeemefy commented on #64
In a serverless/typescript project a function has two files, `handler.ts` and `index.ts`. The handler type is coming from `aws-lambda` and one of the type could be `APIGatewayProxyHandler`. I'm wondering if the type of `function/index.ts` could come from serverless types if so, what the type would be?

[2022-05-17 12:23] mnapoli commented on #64
I don't know the answer to that unfortunately.

Let's open discussions for questions in the GitHub discussions here: https://github.com/serverless/serverless/discussions

We'll keep this issue tracker for issues/features discussions.

[2022-05-17 12:23] #64 closed

[2022-05-25 10:10] #61 closed

[2022-05-25 10:10] simonmellor commented on #61
Thank you @fredericbarthelet the update has resolved the issue I was facing.

[2022-06-03 18:34] julbr commented on #43
same issue for me with warmup plugin.

[2022-06-17 18:51] pascencio commented on #59
I have the same problem... There is some work around?

[2022-07-01 22:52] spaky08 opened #65 "ReportBatchItemFailures bad type assing"
https://github.com/serverless/typescript/blob/49efbafc4ed7f67b3a67bb55858d92e4559054c2/index.d.ts#L541

[2022-07-01 23:03] #65 closed

[2022-07-01 23:03] spaky08 commented on #65
Bad

[2022-07-15 12:28] gtamas opened #66 "Support for TS 4.7?"
Serverless works with TS 4.6.x, but after upgrading to 4.7 (latest), I get this when running serverless-offline:

"Cannot load "serverless.ts": Initialization error: Error: Debug Failure. False expression: Non-string value passed to `ts.resolveTypeReferenceDirective`, likely by a wrapping package working with an outdated `resolveTypeReferenceDirectives` signature. This is probably not a problem in

[2022-07-15 14:32] fredericbarthelet commented on #66
Hi @gtamas and thanks for submitting this issue.
While this is not related to this repository, I suggest you try the following :

- identify which project is not using latest version of `resolveTypeReferenceDirectives`. Try removing all plugins from your service definition file and run `sls print` or `sls package` commands.
  - If your service is working without any plugins flawlessly, try adding

[2022-07-15 14:32] #66 closed

[2022-07-15 14:39] taschmidt commented on #45
Related question, is anyone aware of an automated converter that has been written? I.e. a script that would just read in the YAML and spit out a TS file?

[2022-07-16 10:18] gtamas commented on #66
ok thx!

[2022-07-26 13:01] BrianArch96 opened #67 "Severless typescript 3.19.0 doesn't support deploymentMethod option"

[2022-08-03 16:07] ChristopherGillis commented on #28
@severi Any chance you found a solution?

[2022-08-04 11:30] severi commented on #28
I found two options for separating the serverless.ts tsconfig from application code:

1. place the serverless.ts file to a separate ”deployment” folder with its own tsconfig.json file

[code]

 2. if using serverless-bundle plugin: u can define separate tsconfig-filename that is used during build time (i.e serverless.ts uses tsconfig.json and the application code is build with tsconfig.functions.j

[2022-08-26 09:25] LBRDan commented on #28
Hello there,
just wanted to share a useful _workaround_ about the multiple tsconfig*.json and usage of custom tsconfig paths
As serverless uses `ts-node` to load `serverless.ts` (and it should always be compiled as CJS as ts-node could be required at runtime in non-ESM node process), I used the ts-node env variables itself to load a specific tsconfig file.

example dev command:

[code]

I prefer t

[2022-09-13 12:18] gruckion commented on #59
It's a shame that this is not documented. Only an example with serverless.yml is given and there is no mention of it doing "magic" in the background to produce IAM roles to allow SSM to be read from AWS.

[2022-09-21 23:17] link2malkeet commented on #48
`yarn global add ts-node`
fixes the problem for me.

[2022-09-22 16:00] AutomationD commented on #59
I find it ridiculous that `serverless.ts` is being promoted as an official way for typescript app, but there is no documentation whatsoever.

[2022-09-27 15:25] Genereux-akotenou commented on #48
Or use npm to solve it:
`npm install ts-node`

[2022-09-28 20:04] reikje commented on #60
I think I am in the same boat with the `serverless-api-gateway-caching` plugin and Typescript. The plugin adds a `caching` objects to the `http` event type. Example:

[code]

The `as any` is my poor man's solution to get around TS2322. Is there a better way for me than using `any` here?

[2022-10-14 03:49] ganimp84 commented on #11
casting the command line argument to `AWS["provider"]["region"]` helped to fix this issue for me.
`region: "${opt:region, 'us-east-1'}" as AWS["provider"]["region"],`

[2022-10-27 16:51] bogdan-panteleev commented on #28
just installing "tsconfig-paths" in the same level where the tsconfig.app.json lies helped me

[2022-10-28 10:25] Bielik20 commented on #48
I have a similar issue. I work in monorepo and base `tsconfig` is NOT where `serverless.ts` resides.

I did some testing and setting `"baseUrl": "."` in the `tsconfig` where `serverless.ts` resides fixes the issue, but then entire compilation doesn't work obviously :(

It seems that Serverless cannot handle situation where `"baseUrl": "."` is NOT the same location as `serverless.ts`. This makes it

[2022-10-31 15:12] AntonOellerer commented on #27
It seems as if this error is still present when running `npx tsc` in a fresh instance of a `aws-nodejs-typescript` template based project

[2022-11-17 00:38] herebebogans opened #69 "When does npm module get published?"
Can see tags in the project for 3.23.0 but the latest version available on npm is 3.21.0 from 4 months ago?

[2022-11-17 22:38] trent-dailey opened #70 "Provisioned concurrency variable doesn't work with typescript"
Instead of using serverless.yml files we use serverless.ts files since our code is written in typescript and we wanted to keep things consistent. However this has caused a problem with being able to dynamically set the number of provisioned concurrency on deployment. We need this functionality as we do not need as much, or any, provisioned concurrency in non-production but do need it for productio

[2022-11-19 00:17] trent-dailey commented on #70
I have also tried to get around this by adding // @ts-nocheck or // @ts-ignore to not get the type error as a workaround but those options do not work.

[2022-11-21 17:12] kopertop commented on #69
Nodejs18.x was introduced in Serverless Framework 3.25.0, but this module is still stuck on 3.21.0.

[2022-11-21 17:15] kopertop commented on #57
@fredericbarthelet could you explain **HOW** the deployment of a new release is handled? Just running ```npm run build``` does not update the ```index.d.ts``` file, and even adding ```sls deploy``` afterwards doesn't touch it. In the event this build is NOT automated, is there a way we can run it to get the latest typings?

[2022-11-21 20:33] AlanTaranti opened #71 "Broken Workflow"
Since serverless 3.22 release, this project workflow is broken.

Please see: https://github.com/serverless/typescript/actions/workflows/definitionsBuilder.yml

![image](https://user-images.githubusercontent.com/9096525/203152946-dfb59d84-cd02-4a79-a091-71e20909d845.png)

[2022-11-21 20:35] AlanTaranti commented on #69
I think it's related to the broken Workflow issue https://github.com/serverless/typescript/issues/71

[2022-11-22 07:28] fredericbarthelet commented on #71
Indeed @AlanTaranti, thanks for pointing that out. It seems my npm token is not valid anymore. @medikoo could you update the NPM_TOKEN in this repository or send me a new one for me to update :) ?

[2022-11-23 11:07] medikoo commented on #71
@fredericbarthelet, I think you've been accidentally removed from our npm group related to this package, sorry about that. I've resent the invite. After accepting it, I believe it should work again

[2022-11-23 11:16] fredericbarthelet commented on #71
Thanks @medikoo. I accepted the invitation and the publishing workflow is now fixed 🎉 Version 3.25.0 of @serverless/typescript has just been released !

[2022-11-23 11:16] #71 closed

[2022-11-23 11:19] fredericbarthelet commented on #69
The publishing workflow is now fixed 🎉 Version 3.25.0 of @serverless/typescript has just been released !
Thanks for your patience @AlanTaranti @kopertop @herebebogans

[2022-11-23 11:19] #69 closed